body {
    text-align: center;
    background-image: url("countries1.jpg");
    background-repeat: repeat;
    background-size: 100%;
   


}
h1{
    font-size: 70px;
    color: white;
    text-shadow:6px 6px blue;
}
#panel {
   
    width: 50%;
    margin: auto;
     margin-top: 20px;
}
#cname{
    border-radius: 25px;
    font-size: 20px;
    border: 4px solid yellow;
    padding: 10px;
}
#searchbtn{
    background-color: white; 
    color: black; 
    border: 4px solid yellow;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 25px;
    padding: 10px;
  }
  #searchbtn:hover {
    background-color:blue;
    color: white;
  }

#allbtn{
    background-color: white; 
    color: black; 
    border: 4px solid yellow;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 25px;
    padding: 10px;
}
#allbtn:hover {
    background-color: blue;
    color: white;
  }
.item {
    display: flex;
    border-radius: 25px;
    margin-top: 10px;
    border: 2px solid #4CAF50;
   
    
}
.item:nth-child(odd) {
    /* background-color:rgb(98, 132, 143); */
    border: 5px solid lightyellow ;
  
    
}
.item:nth-child(even) {
    /* background-color: lightblue; */
    
   
}
.flag {
    width: 120px;
    margin-right: 100px;
    margin-left: 20px;
   

    
    
}
.flag img {
    width:180%;
    margin-top: 20%;
    margin-left: 50px;
 
    
}
.content {
    text-align: left;
    margin-left: 150px;
   
}
.content p {
    color:black;
    font-size: 15px;
   background-color:whitesmoke;
    font-family: monospace;    
}